<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="simpleSection"
             type="BCL_Samples.BCL_ConfigurationSection, BCL_Samples"/>
  </configSections> 
   <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
   </startup>
  <simpleSection culture="ru-RU">
    <dirs defaultDirectory="C:\test_202012\default">          
      <add path="C:\test_202012"/>
      <add path="C:\test_202012\a"/>
    </dirs>
    <rules>
      <rule fileNamePattern=".*.txt" destinationPath="C:\test_202012\b"  addFileIndex="true" addMoveDate="false"/>
      <rule fileNamePattern=".*.pdf" destinationPath="C:\test_202012\c"  addFileIndex="true" addMoveDate="false"/>
    </rules> 
    
    </simpleSection>
</configuration>